<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>sound_music| Acerca de sound music App</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragmentos/menu.html::menu-principal">
      
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header">Acerca de <strong>Sound music</strong> </h4>              
          <div class="card-body">
            
				<p>
El presente documento es expuesto y documentado para dar a conocer una de las inquietudes mayores de la una disquera dedicada a la grabación y representación de artistas de cualquier talla de los cuales nos permita ver las distintas capacidades que tienen todos y cada uno de ellos .  

Con el fin de poder dar a conocer sus ideas para que se den solución y puedan tener un entorno mas adecuado a la hora de trabajar tanto artistas como productores al momento de dar a conocer este tipo de ámbitos se crean una distinta alternativa mas tecnologuica y futurista de trabajo por medio de el equipo de trabajo Flowers Progrming 
y encontrar bandas de musicales  con Spring Boot.</p1>

          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer" th:insert="fragmentos/pie.html::pie">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>     
  </body>
</html>
